proximityflow.txt
[{"id":"b214da3d.6055a8","type":"debug","z":"3f633d71.d6c4b2","name":"","active":true,"console":"false","complete":"payload","x":871,"y":180,"wires":[]},{"id":"59d9baa0.5b2044","type":"inject","z":"3f633d71.d6c4b2","name":"","topic":"","payload":"on","payloadType":"string","repeat":"","crontab":"","once":true,"x":392,"y":226,"wires":[["f8cfabcf.c77c08"]]},{"id":"efb4a9f5.23d088","type":"inject","z":"3f633d71.d6c4b2","name":"","topic":"","payload":"off","payloadType":"string","repeat":"","crontab":"","once":false,"x":394,"y":274,"wires":[["f8cfabcf.c77c08"]]},{"id":"e4cbe419.a33448","type":"json","z":"3f633d71.d6c4b2","name":"","x":710,"y":256,"wires":[["b44748e3.e9cfb8"]]},{"id":"f8cfabcf.c77c08","type":"scanBeacon","z":"3f633d71.d6c4b2","name":"","beacon_uuid":"","beacon_major":"","beacon_minor":"","x":549,"y":254,"wires":[["e4cbe419.a33448","b2bc6d2c.80cc1"]]},{"id":"2260d055.2f9fe","type":"inject","z":"3f633d71.d6c4b2","name":"","topic":"","payload":"on","payloadType":"string","repeat":"","crontab":"","once":true,"x":390,"y":355,"wires":[["a5ddb2d9.a39e7"]]},{"id":"ff3c9e5b.bd2f9","type":"inject","z":"3f633d71.d6c4b2","name":"","topic":"","payload":"off","payloadType":"string","repeat":"","crontab":"","once":false,"x":392,"y":403,"wires":[["a5ddb2d9.a39e7"]]},{"id":"b44748e3.e9cfb8","type":"debug","z":"3f633d71.d6c4b2","name":"","active":false,"console":"false","complete":"false","x":817,"y":379,"wires":[]},{"id":"a5ddb2d9.a39e7","type":"emulateBeacon","z":"3f633d71.d6c4b2","name":"","beacon_uuid":"e2c56db5dffb48d2b060d0f5a71096e0","beacon_major":"50","beacon_minor":"50","beacon_power":"-59","x":565,"y":383,"wires":[["b44748e3.e9cfb8"]]},{"id":"f6e45514.52b4e8","type":"http in","z":"3f633d71.d6c4b2","name":"","url":"/post","method":"post","swaggerDoc":"","x":439,"y":520,"wires":[["4a365457.8f5f8c","67254256.9331cc"]]},{"id":"d6814bd9.b73188","type":"debug","z":"3f633d71.d6c4b2","name":"","active":true,"console":"false","complete":"false","x":837,"y":519,"wires":[]},{"id":"4a365457.8f5f8c","type":"json","z":"3f633d71.d6c4b2","name":"","x":616,"y":526,"wires":[["d6814bd9.b73188"]]},{"id":"67254256.9331cc","type":"http response","z":"3f633d71.d6c4b2","name":"","x":607,"y":617,"wires":[]},{"id":"2af4e205.e30ece","type":"http in","z":"3f633d71.d6c4b2","name":"","url":"/get","method":"get","swaggerDoc":"","x":443,"y":740,"wires":[["bfbe9f16.1fd6a","6d879752.4bc9d8"]]},{"id":"d0b176fc.c65be8","type":"http response","z":"3f633d71.d6c4b2","name":"","x":737,"y":750,"wires":[]},{"id":"bfbe9f16.1fd6a","type":"function","z":"3f633d71.d6c4b2","name":"","func":"var beacon = global.get(\"beacon\")||false;\nif (beacon === false)\n    msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><document type=\"xml/freeswitch-httapi\"><params></params><work><dial context=\"default\" dialplan=\"XML\">1000</dial></work></document>';\nelse\n    msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><document type=\"xml/freeswitch-httapi\"><params></params><work><dial context=\"default\" dialplan=\"XML\">1001</dial></work></document>';\nmsg.headers = {};\nmsg.headers['content-type'] = 'text/xml';\nglobal.set(\"beacon\",false);\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":747,"wires":[["d0b176fc.c65be8"]]},{"id":"6d879752.4bc9d8","type":"json","z":"3f633d71.d6c4b2","name":"","x":567,"y":693,"wires":[["2559edb0.496e02"]]},{"id":"2559edb0.496e02","type":"debug","z":"3f633d71.d6c4b2","name":"","active":true,"console":"false","complete":"false","x":747,"y":695,"wires":[]},{"id":"b2bc6d2c.80cc1","type":"function","z":"3f633d71.d6c4b2","name":"","func":"\nglobal.set(\"beacon\",true);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":697,"y":177,"wires":[["b214da3d.6055a8"]]},{"id":"6dcb7a64.9a7b34","type":"inject","z":"3f633d71.d6c4b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":167,"y":81,"wires":[[]]},{"id":"bc77e96a.2831f8","type":"http request","z":"3f633d71.d6c4b2","name":"","method":"GET","ret":"txt","url":"","x":426,"y":78,"wires":[[]]}]
